# Centroid Calculation for house cordinates.

### **  The housing data comes with features such as no of floors, age of the house  etc for every house in montreal. It also comes with the cordinates of each of the corners of every house listed in the column "geometry". so for example if the plot of the house is a triangle then the corresponding record will have 3 sets of cordinates. the task here is to transform these 3 sets of cordinates into a single set that will be the respresentative of the house. **

In [0]:
import pandas as pd
import numpy as np
from shapely.geometry import Point,Polygon
import shapely.wkt

# import geopandas as gpd

In [3]:
housing = pd.read_csv("uniteevaluationfonciere_df.csv",sep='\t')
housing.head()

,Unnamed: 0,ID_UEV,CIVIQUE_DEBUT,CIVIQUE_FIN,NOM_RUE,SUITE_DEBUT,MUNICIPALITE,ETAGE_HORS_SOL,NOMBRE_LOGEMENT,ANNEE_CONSTRUCTION,CODE_UTILISATION,LIBELLE_UTILISATION,CATEGORIE_UEF,MATRICULE83,SUPERFICIE_TERRAIN,NO_ARROND_ILE_CUM,SUPERFICIE_BATIMENT,geometry
0,0,5212233,2544,2544,avenue Fletcher (MTL),206,50,1.0,1.0,2012.0,1000,Logement,Condominium,0352-50-0581-9-004-0004,39.0,REM22,NaN,"POLYGON ((-73.51645200683809 45.608123200786, ..."
1,1,5008765,1908,1908,boulevard Guy-Bouchard (LSL),NaN,50,1.0,1.0,1997.0,1000,Logement,Condominium,9633-18-7365-1-001-0007,71.0,REM17,438.0,"POLYGON ((-73.61021758145419 45.4448592463664,..."
2,2,4077093,72,72,15e Rue (ROX),NaN,50,1.0,1.0,1958.0,1000,Logement,Régulier,8140-12-5372-9-000-0000,809.0,REM31,120.0,"POLYGON ((-73.80272675643502 45.5021329261054,..."
3,3,4010900,105,105,avenue Parkdale (PCL),NaN,20,1.0,1.0,1974.0,1000,Logement,Régulier,8135-34-5735-1-000-0000,662.0,REM99,102.0,"POLYGON ((-73.79979439540639 45.4582823004314,..."
4,4,4078604,45,45,13e Avenue (ROX),NaN,50,1.0,1.0,1955.0,1000,Logement,Régulier,8140-04-4474-1-000-0000,871.0,REM31,108.0,"POLYGON ((-73.8039116020548 45.5039694170674, ..."

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513235 entries, 0 to 513234
Data columns (total 18 columns):
Unnamed: 0             513235 non-null int64
ID_UEV                 513235 non-null int64
CIVIQUE_DEBUT          513235 non-null int64
CIVIQUE_FIN            513235 non-null int64
NOM_RUE                513235 non-null object
SUITE_DEBUT            110035 non-null object
MUNICIPALITE           513235 non-null int64
ETAGE_HORS_SOL         421603 non-null float64
NOMBRE_LOGEMENT        432011 non-null float64
ANNEE_CONSTRUCTION     495273 non-null float64
CODE_UTILISATION       513235 non-null int64
LIBELLE_UTILISATION    513235 non-null object
CATEGORIE_UEF          513235 non-null object
MATRICULE83            513235 non-null object
SUPERFICIE_TERRAIN     513234 non-null float64
NO_ARROND_ILE_CUM      513235 non-null object
SUPERFICIE_BATIMENT    369883 non-null float64
geometry               513235 non-null object
dtypes: float64(5), int64(6), object(7)
memory usage: 70.5+ MB

In [0]:
# Cleaning the geometry column 
housing.geometry = np.where(housing.geometry.str.startswith('P') == False, housing.geometry.str.lstrip('('), housing.geometry)

In [0]:
# Calculating centroid
centr = [0]*housing.geometry.count()

for i in range(housing.geometry.count()) :
  ref_poly = shapely.wkt.loads(housing.geometry[i])
  centroid = ref_poly.centroid.wkt
  centr[i] = centroid

# housing['centroid'] = centr

In [14]:
housing.head()

,Unnamed: 0,ID_UEV,CIVIQUE_DEBUT,CIVIQUE_FIN,NOM_RUE,SUITE_DEBUT,MUNICIPALITE,ETAGE_HORS_SOL,NOMBRE_LOGEMENT,ANNEE_CONSTRUCTION,CODE_UTILISATION,LIBELLE_UTILISATION,CATEGORIE_UEF,MATRICULE83,SUPERFICIE_TERRAIN,NO_ARROND_ILE_CUM,SUPERFICIE_BATIMENT,geometry,centroid
0,0,5212233,2544,2544,avenue Fletcher (MTL),206,50,1.0,1.0,2012.0,1000,Logement,Condominium,0352-50-0581-9-004-0004,39.0,REM22,NaN,"POLYGON ((-73.51645200683809 45.608123200786, ...",POINT (-73.51664640703451 45.60867563935014)
1,1,5008765,1908,1908,boulevard Guy-Bouchard (LSL),NaN,50,1.0,1.0,1997.0,1000,Logement,Condominium,9633-18-7365-1-001-0007,71.0,REM17,438.0,"POLYGON ((-73.61021758145419 45.4448592463664,...",POINT (-73.61009753745681 45.44458339528233)
2,2,4077093,72,72,15e Rue (ROX),NaN,50,1.0,1.0,1958.0,1000,Logement,Régulier,8140-12-5372-9-000-0000,809.0,REM31,120.0,"POLYGON ((-73.80272675643502 45.5021329261054,...",POINT (-73.80258304856709 45.50198606884486)
3,3,4010900,105,105,avenue Parkdale (PCL),NaN,20,1.0,1.0,1974.0,1000,Logement,Régulier,8135-34-5735-1-000-0000,662.0,REM99,102.0,"POLYGON ((-73.79979439540639 45.4582823004314,...",POINT (-73.7997443437022 45.45844259226902)
4,4,4078604,45,45,13e Avenue (ROX),NaN,50,1.0,1.0,1955.0,1000,Logement,Régulier,8140-04-4474-1-000-0000,871.0,REM31,108.0,"POLYGON ((-73.8039116020548 45.5039694170674, ...",POINT (-73.80403106010482 45.50378803310961)

In [0]:
housing.to_csv("houseWithCentroid1.csv")